*{
    -fx-font-family: "Arial Black";
}

#choosenImage{
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-repeat: none;
}

.def-button{
    -fx-background-color:  rgb(255, 84, 167);
    -fx-color: rgb(255,255,255);
    -fx-font-family: "Arial Black";
}

.def-button:hover{
    -fx-background-color: rgb(205, 34, 117);
}

.def-button:pressed{
    -fx-background-color: rgb(245, 74, 157);
}

.main{
    -fx-background-color: #ffa1f0;
}

.side-bar{
    -fx-background-color: #6458ae;
}